.testimonials {
	margin-top: 10rem;
	&__wrapper {
		width: 100%;
		padding-top: 20px;
		text-align: center;
		color: $black;
		display: flex;
		justify-content: center;
		position: relative;
	}

	&__bg {
		top: -48px;
		position: absolute;
		width: 85%;
		height: 316px;
		border-radius: $border-radius__medium;
		background-color: $primary;
		@include for-phone-only {
			top: -8px;
			width: 95%;
			height: 200px;
		}
	}
	&__btn {
		padding: 0 16rem;
		margin-top: 32px;
		display: flex;
		@include for-phone-only {
			display: none;
		}
	}
	&__header {
		text-transform: uppercase;
		padding: 8px;
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		margin-left: 178px;
		margin-bottom: 80px;
	}

	.slider {
		text-align: left;
		width: 100%;

		.slick-slide {
			margin: 32px;
			padding: 8px 64px 16px 32px;
			box-shadow: $box-shadow;
			border-radius: $border-radius__medium;
			background-color: $white;
			border: 2px solid transparent;
			transition: all 0.4s linear;
			cursor: pointer;
			&.slick-current.slick-active.slick-center {
				// background-color: red;
				border: 2px solid $secondary;
				img {
					border: 2px solid $secondary;
				}
			}

			@include for-phone-only {
				font-size: 0.8rem;
				margin: 8px;
				padding: 16px;
				padding-top: 0px;

				text-align: center;
			}
			@include for-tablet-portrait-up {
				padding: 16px;
			}
		}
		&__img {
			width: 72px;
			height: 72px;
			margin-top: -48px;
			margin-bottom: 16px;
			border-radius: 50%;
			object-fit: cover;

			@include for-phone-only {
				width: 56px;
				height: 56px;
				margin-top: -8px;
			}
		}

		&__heading {
			color: $primary;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 0.5em;
			margin-bottom: 0;
			line-height: 4px;
			@include for-phone-only {
				font-size: 0.7em;
				display: inline;
				line-height: 4px;
			}
			&__stars {
				// font-size: 0.8em;
			}
		}
		&__title {
			font-size: 2em;
		}
		&__subtitle {
			font-size: 1em;
			margin-bottom: 1em;
			margin-top: 0;
			@include for-phone-only {
				margin-top: 8px;
				font-size: 0.8em;
			}
		}
		&__description {
			font-size: 1em;
			line-height: 24px;

			@include for-phone-only {
				line-height: 16px;
			}
		}
	}
}
